.container {
    height: 100%;
    width: 92%;
    margin: auto;
}

.container-fav-youtube-vid {
    width: auto;
    height: auto;
    background-color: #FFF8E8;
    padding-bottom: 30px;
}

.container-beranda {
    display: flex;
    width: auto;
    height: auto;
    background-color: #FFF8E8;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}

.container-biodata {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F7EED3;
}

.nav-container {
    height: 100%;
    width: 100%;
    margin: auto;
}

.container-perkenalan-singkat {
    margin: auto 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container-alamat-sma {
    background-color: #FFF8E8;
    padding-bottom: 30px;
}

.container-alamat-sma h1 {
    padding-top: 20px;
    margin-top: 0;
    text-align: center;
}

.peta-sma {
    display: flex;
    justify-content: center;
}

.judul-fav-web {
    background-color: #F7EED3;
    padding-top: 30px;
    padding-bottom: -10px;
    margin: 0px 0px;
    text-align: center;
}

.judul-fav-vid {
    background-color: #FFF8E8;
    padding-top: 30px;
    padding-bottom: -10px;
    margin: 0px 0px;
    text-align: center;
}

.container-fav-video {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding: 20px 20px;
    background-color: #FFF8E8;
    justify-content: space-evenly;
}

.card-video {
    width: 300px;
    height: 168.75px;
    transition: 150ms ease;
    cursor: pointer;
    margin: 20px 20px;
}

.card-video iframe:hover {
    scale: 1.2;
}

.container-fav-website {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding: 20px 20px;
    background-color: #F7EED3;
    justify-content: space-evenly;
}

.card-website {
    display: flex;
    margin: 20px 20px;
    flex-direction: column;
    justify-content: space-evenly;
    /* justify-content: center; rata tengah vertikal  */
    align-items: center; /* rata tengah horizotal */
    width: 200px;
    height: 240px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-website img {
    width: 180px;
    height: 180px;
}

.card-website a {
    text-decoration: none;
    color: black;
    font-size: larger;
    text-align: center;
    transition: 150ms ease;
    cursor: pointer;
    /* font-weight: 500; */
}

.card-website a:hover {
    scale: 1.2;
}

.container-img-web {
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perkenalan-singkat {
    padding: 20px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 80%;
    align-self: center;
    /* border: 2px solid red; */
}

.perkenalan-singkat h1, h3{
    margin-left: 30px;
    margin-right: 30px;
    /* border: 2px solid red; */
}

.content-biodata {
    align-self: center;
}

.content-biodata h1{
    margin: 0 100px;
}

.list-biodata{
    line-height: 25px;
    margin-top: 20px;
    margin: 0 77px;
}

.hiasan-biodata {
    position: relative;
    align-self: center;
    height: 300px;
    width: 300px;
    margin-right: 100px;
    border-radius: 50%;
}

.foto-pribadi {
    padding: 20px 20px;
    /* padding-right: 20px; */
    /* padding-left: 20px; */
    align-self: center;
    /* border: 1px solid red; */
}

.foto-algof {
    width: 200px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.foto-algof:hover {
    transform: translateY(-20px);
}

.foto-logo-html {
    width: 300px;
}

/* Table Styles */
@media only screen and (min-width: 576px) {
    .container {
        width: 540px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    background-color: #F7EED3;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0;
}

nav a {
    display: block;
    color: #674636;
    text-decoration: none;
    text-align: center;
    padding: 14px 20px;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #333;
}

html {
    scroll-behavior: smooth;
}